{% extends 'base.html.twig' %}

{% block title %}New Gerechten{% endblock %}

{% block body %}
    <h1>Create new Gerechten</h1>

    {{ include('gerechten/_form.html.twig') }}

    <a href="{{ path('gerechten_index') }}">back to list</a>
{% endblock %}
